name: delineate

services:
  delineate-app:
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ../src:/app/src
      - ../.env:/app/.env
    env_file:
      - ../.env
    environment:
      - NODE_ENV=development
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://elasticsearch:4318 # Assuming OTLP endpoint for Elastic, adjust if needed
      - S3_ENDPOINT=http://delineate-minio:9000
    depends_on:
      - delineate-minio
      - prometheus
      - grafana
      - elasticsearch
      - kibana

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9095:9090
    command: --config.file=/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:latest
    ports:
      - 3001:3000
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.9
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - 9200:9200

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.9
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch

  delineate-minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ":9001"

  delineate-createbuckets:
    image: minio/mc
    depends_on:
      - delineate-minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://delineate-minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/downloads;
      /usr/bin/mc anonymous set public myminio/downloads;
      exit 0;
      "

  delineate-frontend:
    image: node:24-alpine
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - ../frontend:/app
    command: sh -c "npm install && npm run dev -- --host"
    environment:
      - VITE_API_URL=http://localhost:3000

